<div class="info-container">
    <h1 class="cover-heading">Running</h1>
    <img src="../assets/Richmond_Marathon_Photo.jpg" class="marathon-photo">
    <p class="lead">
        I first started running competitively in the 6th grade for my middle school track and field team and ever since then
        I have only grown to enjoy running more! I have enjoyed both the physical benefits of running along with the relationships
        that I have made with fellow runners. Long distance running has taught me the value of perseverence and the value of giving
        100% of your energy to achieving a goal. You can see the reults of my latest marathon (Richmond) <a href="http://results.xacte.com/?id=2210"
        target="_blank" class="wca-link">here</a> by searching the name 'Scott McGowan'. I will also be running the Richmond Marathon
        again on November 16, 2019!
    </p>
    <h1 class="cover-heading">Cubing</h1>
    <video class="cubing-video" controls loop>
        <source src="../assets/Cubing-Video.MOV" type="video/mp4">
    </video>
    <p class="lead">
        I have been competitively speedcubing since the fall of 2016. Since then, I have amassed a collection of over 50 geometric
        puzzles and have improved at speedsolving the Rubiks's cube. I have met many friends through cubing and have gotten the
        opportunity to travel all over the east coast to compete in official World Cube Association competitions. I also was a founding
        member and am the current president of the Rubik's Cubing at Virginia Tech club. A link to my WCA  profile can be found
        <a href="https://www.worldcubeassociation.org/persons/2017MCGO02" class="wca-link" target="_blank">here</a> which contains all
        of my official results obtained in competitions.
    </p>
</div>
