<div class="info-container">
    <img class='about-me-image' src='../assets/About-me-photo.jpg' alt='Avatar'>
    <h1 class="cover-heading">
        Scott McGowan</h1>
    <p class="lead">
        Hello! My name is Scott McGowan and I am a Senior at Virginia Tech in Industrial and Systems Engineering and Computer Science.
        I am interested in a wide variety of field within these two majors, including Web Development, Optimization, Human Computer Interaction,
        and Machine Learning! I have previous professional experience in both front end and back end web development at Excella as well as
        Capital One. In my free time I enjoy running, hiking, speed solving Rubik's cubes, and reading. 

        Please feel free to reach out if you would like to talk about any of these things! 

    </p>
</div>