<div class="info-container">
    <img src='../assets/Capital_One_Logo.png' class="capone_logo">
    <p class="lead">
        This past Summer I participated in Capital One's Technology Internship Program (TIP). While
        there I worked on an internal website which was used by business analysts to quickly and effectively
        retrive information from our warehouses. I was able to both learn and implement significant amounts of
        both the UI in Vue.js and the API in Spring Boot. I also utilized Capital One's learning resources and
        took an intro to Machine Learning course where I both learned about and implmeneted popular ML techniques
        such as regression, normalization, and neural networks.
    </p>
    <img src='../assets/Excella_Clear_Background.png' class="excella_logo"> 
    <p class="lead">
        From the Spring of sophomore year to the Fall of Junior year, I had the opportunity to
        work at Excella, a web development company centered in Arlington with an extension center
        in Blacksburg, VA. During the academic semesters, I worked part time 12 hours per week
        developing and improving several websites for important clients such as the Consumer Financial
        Protection Bureau (CFPB). During the Summer of 2018, I worked with another student to co-develop
        a new website for Virginia Tech to post experiential learning opportunities available to students
        such as research and study abroad trips.
    </p>
</div>
